.section{
  &-bg{
    &-grey{
      background: #f3f3f3;
    }
    &-light-grey{
      background: #e8e8e8;
    }
    &-white{
      background:#fff;
    }
    &-grey-l{
      background: #f8f8f8;
    }
    &-black-light{
      background: #2e2c2b;
    }
  }
}