.section{
  &-indents{
    &-am5{
      margin-bottom: 5px;
    }
    &-am8{
      margin-bottom: 8px;
    }
    &-sm{
      margin-bottom: 10px;
    }
    &-smb{
      margin-bottom: 15px;
    }
    &-smd{
      margin-bottom: 20px;
    }
    &-smd4{
      margin-bottom: 24px;
    }
    &-smd6{
      margin-bottom: 26px;
    }
    &-md{
      margin-bottom: 30px;
    }
    &-md3{
      margin-bottom: 33px;
    }
    &-md8{
      margin-bottom: 38px;
    }
    &-mdl{
      margin-bottom: 40px;
    }
    &-mdl4{
      margin-bottom: 44px;
    }
    &-mdl6{
      margin-bottom: 46px;
    }
    &-mdl8{
      margin-bottom: 48px;
    }
    &-mds{
      margin-bottom: 50px;
    }
    &-mds3{
      margin-bottom: 53px;
    }
    &-mds5{
      margin-bottom: 55px;
    }
    &-mdz{
      margin-bottom: 60px;
    }
    &-mdz2{
      margin-bottom: 62px;
    }
    &-mdz4{
      margin-bottom: 64px;
    }
    &-mdy{
      margin-bottom: 70px;
    }
    &-mdy1{
      margin-bottom: 71px;
    }
    &-lgm{
      margin-bottom: 80px;
    }
    &-lg{
      margin-bottom: 100px;
    }
  }
}