.container{
  padding:0 15px;
}

.padding{
  &-z{
    padding: 0 15px 0 0;
    &-z1{
      padding: 0;
    }
    &-z2{
      padding: 0 15px 0 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  .container{
    max-width: 546px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container{
    max-width: 738px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container{
    max-width: 962px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1170px) {
  .container{
    max-width: 1140px;
  }
}