@font-face {
  font-family: "ProximaNova Bold";
  src: url("../../fonts/proximanova/ProximaNova-Bold.otf");
}

@font-face {
  font-family: "ProximaNova Extrabld";
  src: url("../../fonts/proximanova/ProximaNova-Extrabld.otf");
}

@font-face {
  font-family: "ProximaNova Light";
  src: url("../../fonts/proximanova/ProximaNova-Light.otf");
}

@font-face {
  font-family: "ProximaNova Regular";
  src: url("../../fonts/proximanova/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "ProximaNova Semibold";
  src: url("../../fonts/proximanova/ProximaNova-Semibold.otf");
}

@font-face {
  font-family: "ProximaNova Thin";
  src: url("../../fonts/proximanova/ProximaNovaT-Thin.otf");
}